



.rings-image {
    width: 20%;
    padding-left: 180px;
}

.rings-container{
    background-color: rgb(21, 21, 129);
    padding: 6px;
    border-radius: 10px;
}

.headline{
    color: #243848;
    font-size: 23px;
}

.howbig{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 10px;

}

.anordnungringe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



